*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway',sans-serif;
    margin: 0px;
}
#page-logo a{
    font-family: 'Oswald',sans-serif;
    color:rgb(221, 245, 127);
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px rgb(2, 2, 2);
}
header ul{
    list-style: none;
    margin: 10px;
    padding: 15px;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
header{
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}
header li{
    margin: 15px;
    color: black;
}
header a{
    font-weight: bold;
    color: yellow;
    font-size: 20px;
    padding: 12px;
    text-shadow: rgba(0, 0,0, 0.3);
}

#st a:hover{
    color: rgb(77,58,69);
    background-color: yellow;
}

footer{
    background: linear-gradient(70deg,rgb(24,24,24),rgb(25,29,29));
    padding: 36px;
}

footer ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
footer li{
    height: 80px;
    width:80px;
    margin:0 50px;
}
footer img{
    width: 100%;
    height: 100%;
}